@import url('https://fonts.cdnfonts.com/css/apex-mk2');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.font-apex {
  font-family: 'Apex Mk2', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}